.wrapper {
  padding: 15px;
  max-width: 800px;
  margin: 0 auto;
}
.wrapper h3 {
  font-size: 20px;
  margin: 35px 0 15px 0;
  padding: 10px 0;
  font-weight: bold;
  background: #f1f9ff;
}
.wrapper h3:nth-of-type(1) {
  margin-top: 0;
}
.wrapper .form-group {
  margin-bottom: 20px;
}
.wrapper .form-group label {
  font-size: 16px;
  font-weight: normal;
}
.wrapper .form-group input {
  font-size: 16px;
}
.wrapper .form-group .radio label,
.wrapper .form-group .fill label {
  margin-right: 30px;
}
.wrapper .package {
  border: 1px dashed #ccc;
  padding: 0 10px;
  border-radius: 10px;
}
.wrapper .package label {
  font-size: 16px;
  line-height: 30px;
}
.wrapper .package label input {
  margin-top: 8px;
}
.wrapper .submit {
  width: 100%;
  margin: 25px 0;
}
.book {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  padding: 25px 0;
  height: 100%;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
}
.book .book-close {
  position: fixed;
  color: #fff;
  line-height: 50px;
  font-size: 18px;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  background: #ff5c5c;
  z-index: 11;
}
.book p,
.book h3 {
  max-width: 800px;
  margin: 0 auto;
}
.book p {
  padding: 15px;
}
.book .book1,
.book .book2 {
  display: none;
}
.add-xueyuan{
  width:100%;
  margin-bottom: 20px;
  font-size:16px;
}
.xueyuanxinxi{
  position: relative;
}
.xueyuanxinxi-close{
  position: absolute;
  right:0;
  top:0;
  text-align: center;
  width:40px;
  line-height: 40px;
  color: #fff;
  background: #ff5c5c;
}